/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
*{
  margin: 0;
  padding: 0;
  list-style-type:none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
} */


body {
  overflow-x: hidden; 
  overflow-y: scroll;  
  scroll-behavior: smooth;

}




/* custom scrool bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #eeebeb;
}

::-webkit-scrollbar-thumb {
  background-color:#f97316;
  height: 8%;
  border-radius: 10px;
}

.wrapper{
 @apply container mx-auto px-4 md:px-5;
}

.main-padding{
  @apply pt-28 md:pt-36 lg:pt-40 
}

.slider{
position: relative;
}

.button-swiper{
  /* padding: 20px; */
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 1rem !important;
  
}

.swiper-button-prev,
.swiper-button-next{
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
  position: unset !important;
  font-size: unset !important;
}

.button-arrangemnt{
  position: absolute;
  top:20px;
  right: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after{
  font-size: 1rem;
  font-weight: bold;
}