
@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
  overflow-x: hidden;
}

.wrapper{
 @apply container mx-auto px-4 md:px-5;
}

.main-padding{
  @apply pt-28 md:pt-36 lg:pt-40 
}

.slider{
position: relative;
}

.button-swiper{
  /* padding: 20px; */
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 1rem !important;
  
}

.swiper-button-prev,
.swiper-button-next{
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
  position: unset !important;
  font-size: unset !important;
}

.button-arrangemnt{
  position: absolute;
  top:20px;
  right: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after{
  font-size: 1rem;
  font-weight: bold;
}